<%= form_for [@galaxy, @velocity] do |f| %>
  <% if @velocity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@velocity.errors.count, "error") %> prohibited this velocity from being saved:</h2>

      <ul>
      <% @velocity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Galaxy: <%= @galaxy.id%><br>
  </div>
  <div class="field">
    <%= f.label :r %><br>
    <%= f.text_field :r %>
  </div>
  <div class="field">
    <%= f.label :vrot_data %><br>
    <%= f.text_field :vrot_data %>
  </div>
  <div class="field">
    <%= f.label :vrot_data_error %><br>
    <%= f.text_field :vrot_data_error %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
