<h1>Galaxy <%= @galaxy.id %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Galaxy:</strong>
  <%= @galaxy.galaxy_name %>
</p>
<!-- TODO: Figure out galaxy column names -->

<br>
<%= link_to 'Edit', edit_galaxy_path(@galaxy) %> |
<%= link_to 'Back', galaxies_path %>

<br>

<%= search_form_for @q, url: galaxy_velocity_search_path(@galaxy.id, @velocities.first.id),
                        html: { method: :post } do |f| %>
  <%= f.label :id_eq %>
  <%= f.search_field :id_eq, :class => "search-field" %>
  <%= f.label :galaxy_id_eq %>
  <%= f.search_field :galaxy_id_eq, :class => "search-field" %>
  <%= f.label :r_eq %>
  <%= f.search_field :r_eq, :class => "search-field" %>
  <%= f.label :r_err_min_eq %>
  <%= f.search_field :r_err_min_eq, :class => "search-field" %>
  <%= f.label :r_err_max_eq %>
  <%= f.search_field :r_err_max_eq, :class => "search-field" %>
  <%= f.label :vrot_data_eq %>
  <%= f.search_field :vrot_data_eq, :class => "search-field" %>
  <%= f.label :vrot_data_err_min_eq %>
  <%= f.search_field :vrot_data_err_min_eq, :class => "search-field" %>
  <%= f.label :vrot_data_err_max_eq %>
  <%= f.search_field :vrot_data_err_max_eq, :class => "search-field" %>
  <%= f.submit "Search" %>
  <%= f.submit "Clear", :id => :q_reset%>
<% end %>

<% if @velocities.size > 0 %>
  <h2>Velocities for Galaxy <%= @galaxy.id %></h2>

  <%= link_to 'New Velocity', new_galaxy_velocity_path(@galaxy) %>

  <table>
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "ID") %></th>
        <th><%= sort_link(@q, :galaxy_id, "Galaxy ID") %></th>
        <th><%= sort_link(@q, :r, "R") %></th>
        <th><%= sort_link(@q, :r_err_min, "R err min") %></th>
        <th><%= sort_link(@q, :r_err_max, "R err max") %></th>
        <th><%= sort_link(@q, :vrot_data, "Vrot data") %></th>
        <th><%= sort_link(@q, :vrot_data_err_min, "Vrot data err min") %></th>
        <th><%= sort_link(@q, :vrot_data_err_max, "Vrot data err max") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @velocities.each do |velocity| %>
        <tr>
          <td><%= link_to "#{velocity.id}", galaxy_velocity_path(@galaxy, velocity) %></td>
          <td><%= velocity.galaxy_id %></td>
          <td><%= velocity.r %></td>
          <td><%= velocity.r_err_min %></td>
          <td><%= velocity.r_err_max %></td>
          <td><%= velocity.vrot_data %></td>
          <td><%= velocity.vrot_data_err_min %></td>
          <td><%= velocity.vrot_data_err_max %></td>
          <td><%= link_to 'Show', galaxy_velocity_path(@galaxy, velocity) %></td>
          <td><%= link_to 'Edit', edit_galaxy_velocity_path(@galaxy, velocity) %></td>
          <td><%= link_to 'Destroy', galaxy_velocity_path(@galaxy, velocity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <br>
  <%= link_to 'New velocity', new_galaxy_velocity_path(@galaxy) %>
<% end %>
