<p id="notice"><%= notice %></p>

<p>
  <strong>Galaxy ID:</strong>
  <%= @velocity.galaxy_id %>
</p>
<p>
  <strong>R (kpc):</strong>
  <%= @velocity.r %>
</p>
<p>
  <strong>Vrot data (km/s):</strong>
  <%= @velocity.vrot_data %>
</p>
<p>
  <strong>Vrot data error (km/s):</strong>
  <%= @velocity.vrot_data_error %>
</p>

<% if current_admin %>
  <%= link_to 'Edit', edit_galaxy_velocity_path(@galaxy, @velocity) %> |
<% end %>
<%= link_to 'Back', galaxy_path(@galaxy) %>
