<p id="notice"><%= notice %></p>

<p>
  <strong>Galaxy ID:</strong>
  <%= @velocity.galaxy_id %>
</p>

<p>
  <strong>R:</strong>
  <%= @velocity.r %>
</p>

<p>
  <strong>R err min:</strong>
  <%= @velocity.r_err_min %>
</p>

<p>
  <strong>R err max:</strong>
  <%= @velocity.r_err_max %>
</p>

<p>
  <strong>Vrot data:</strong>
  <%= @velocity.vrot_data %>
</p>

<p>
  <strong>Vrot data err min:</strong>
  <%= @velocity.vrot_data_err_min %>
</p>

<p>
  <strong>Vrot data err max:</strong>
  <%= @velocity.vrot_data_err_max %>
</p>

<% if current_admin %>
  <%= link_to 'Edit', edit_galaxy_velocity_path(@galaxy, @velocity) %> |
<% end %>
<%= link_to 'Back', galaxy_path(@galaxy) %>
