<h1>Citations</h1>

<p id="notice"><%= notice %></p>

<% if current_admin %>
  <%= link_to 'New Citation', new_citation_path %>
<% end %>

<% if @citations.size > 0 %>
  <%= paginate @citations %>
  <table>
    <thead>
      <tr>
        <%= search_form_for @q, url: search_citations_path,
                          html: { method: :post } do |f| %>
          <th>
            <%= sort_link(@q, :id, "ID") %>
            <%= f.search_field :id_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :author, "Author") %>
            <%= f.search_field :author_cont, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :title, "Title") %>
            <%= f.search_field :title_cont, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :bibtex, "Bibtex") %>
            <%= f.search_field :bibtex_cont, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :journal, "Journal") %>
            <%= f.search_field :journal_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :year, "Year") %>
            <%= f.search_field :year_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :volume, "Volume") %>
            <%= f.search_field :volume_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :pages, "Pages") %>
            <%= f.search_field :pages_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :month, "Month") %>
            <%= f.search_field :month_cont, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :note, "Note") %>
            <%= f.search_field :note_cont, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :key, "Key") %>
            <%= f.search_field :key_cont, :class => "search-field" %>
          </th>
          <th colspan="3" width="250px;">
            <%= f.submit "Search" %>
            <%= f.submit "Clear", :id => :q_reset%>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @citations.each do |citation| %>
        <tr>
          <td><%= link_to "#{citation.id}", citation_path(citation) %></td>
          <td><%= citation.author %></td>
          <td><%= citation.title %></td>
          <td><%= citation.bibtex %></td>
          <td><%= citation.journal %></td>
          <td><%= citation.year %></td>
          <td><%= citation.volume %></td>
          <td><%= citation.pages %></td>
          <td><%= citation.month %></td>
          <td><%= citation.note %></td>
          <td><%= citation.key %></td>
          <td><%= link_to 'Show', citation %></td>
          <% if current_admin %>
            <td><%= link_to 'Edit', edit_citation_path(citation) %></td>
            <td><%= link_to 'Destroy', citation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
