<h1>Citation <%= @citation.id %> details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @citation.author %>
</p>
<p>
  <strong>Title:</strong>
  <%= @citation.title %>
</p>
<p>
  <strong>Bibtex:</strong>
  <%= @citation.bibtex %>
</p>
<p>
  <strong>Journal:</strong>
  <%= @citation.journal %>
</p>
<p>
  <strong>Year:</strong>
  <%= @citation.year %>
</p>
<p>
  <strong>Volume:</strong>
  <%= @citation.volume %>
</p>
<p>
  <strong>Number:</strong>
  <%= @citation.number %>
</p>
<p>
  <strong>Pages:</strong>
  <%= @citation.pages %>
</p>
<p>
  <strong>Month:</strong>
  <%= @citation.month %>
</p>
<p>
  <strong>Note:</strong>
  <%= @citation.note %>
</p>
<p>
  <strong>Key:</strong>
  <%= @citation.key %>
</p>
<p>
  <strong>Galaxy galaxies:</strong>
  <% @citation.galaxies.each do |galaxy| %>
    <%= galaxy.galaxy_name %>,
  <% end %>
</p>
