<h1>Citation <%= @citation.id %> details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @citation.author %>
</p>
<p>
  <strong>Title:</strong>
  <%= @citation.title %>
</p>
<p>
  <strong>Bibtex:</strong>
  <%= @citation.bibtex %>
</p>
<p>
  <strong>Url:</strong>
  <%= @citation.url %>
</p>
