<div class="container" id="welcome_container">
  <h1>Scholarly Observed Celestial Measurements</h1>
    <p id="notice"><%= notice %></p>

    <div class="indent-p">
      SOCM was developed at <%= link_to 'Wentworth Institute of Technology', "http://www.wit.edu/computer-science/" %> by:
        <ul>
          <li><%= link_to 'Alex Clement', 'https://github.com/alexrdclement' %></li>
          <li><%= link_to 'Patrick McGee', 'https://github.com/patrickwmcgee' %></li>
          <li><%= link_to 'David Miller', 'https://github.com/djmill' %></li>
          <li><%= link_to 'Robert Moss', 'https://github.com/mossr' %></li>
        </ul>
       under the guidance of <%= link_to "Professor James G. O'Brien", 'http://www.wit.edu/experts/files/obrien.html'%>.  SOCM serves as a two fold service, both as a comprehensive source of galactic rotation measurements, but is also used as the service layer API for RoCM (<%= link_to 'rotationcurve.herokuapp.com', 'http://rotationcurve.herokuapp.com' %>).
    </div>

    <h3 class="dev-header">Citing SOCM</h3>
    <p class="indent-p">If you would like to use any of the information of SOCM please cite both SOCM as well as the original references which are given in the SOCM database.</p>
    <p class="indent-p">It is the hope that SOCM can serve as the epicenter of rotation curve information.</p>

    <h3 class="dev-header">Contributing to SOCM</h3>
    <p class="indent-p">
    If you would like to have your galactic data uploaded to SOCM's data base, please contact Professor James G O'Brien (<u><b>obrienj10@wit.edu</u></b>) so that we can collect all the proper references and have your data represented properly.
    </p>

    <h3 class="dev-header">Open Source Code</h3>
    <p class="indent-p">
    All source code can be found at the <%= link_to 'RoCM SOCM Repository', 'http://www.github.com/rocmsocm' %> for both RoCM and SOCM.
    </p>
</div>
