<%= form_for(@galaxy) do |f| %>
  <% if @galaxy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@galaxy.errors.count, "error") %> prohibited this galaxy from being saved:</h2>

      <ul>
      <% @galaxy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :galaxy_name %>
    <%= f.text_field :galaxy_name %>
  </div>
  <div class="field">
    <%= f.label :galaxy_type %>
    <%= f.select :galaxy_type, options_for_select([["LSB", "LSB"], ["HSB", "HSB"]]) %>
  </div>
  <div class="field">
    <%= f.label :distance %>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :luminosity %>
    <%= f.text_field :luminosity %>
  </div>
  <div class="field">
    <%= f.label :scale_length %>
    <%= f.text_field :scale_length %>
  </div>
  <div class="field">
    <%= f.label :mass_hydrogen %>
    <%= f.text_field :mass_hydrogen %>
  </div>
  <div class="field">
    <%= f.label :mass_disk %>
    <%= f.text_field :mass_disk %>
  </div>

  <%= f.collection_check_boxes :citation_ids, Citation.all, :id, :title %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
