<h1>Galaxies</h1>

<p id="notice"><%= notice %></p>

<% if current_admin %>
    <div>
        <h3>CSV Import</h3>
        <div class="import-csv-button-galaxies" style="padding-left: 50px">
            <h4>Import Galaxy Parameters CSV</h4>
            <%= form_tag import_galaxy_galaxies_path, multipart: true do %>
                <%= file_field_tag :file %>
                <%= submit_tag "Import Galaxy Paramaters" %>
            <% end %>
        </div>
        <div class="import-csv-button-velocities" style="padding-left: 50px">
            <h4>Import Velocity Information</h4>
            <%= form_tag import_galaxy_velocities_galaxies_path, multipart: true do %>
                <%= file_field_tag :file %>
                <%= submit_tag "Import Velocity Information" %>
            <% end %>
        </div>
    </div>
    <h3>Manually Import Galaxy Information</h3>
    <div class="manually-import" style="padding-left: 50px">
        <%= link_to 'New Galaxy', new_galaxy_path %>
    </div>
<% end %>

<% if @galaxies.size > 0 %>
  <%= paginate @galaxies %>
  <table>
    <thead>
      <tr>
        <%= search_form_for @q, url: search_galaxies_path,
                          html: { method: :post } do |f| %>
          <th>
            <%= sort_link(@q, :id, "ID".html_safe) %>
            <%= f.search_field :id_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :galaxy_name, "Galaxy Name".html_safe) %>
            <%= f.search_field :galaxy_name_cont, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :galaxy_type, "Galaxy Type".html_safe) %>
            <%= f.search_field :galaxy_type_cont, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :distance, "Distance".html_safe) %> (Mpc)<br>
            <%= f.search_field :distance_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :luminosity, "Luminosity".html_safe) %> (10<sup>10</sup> L<sub>☉</sub> W) <br>
            <%= f.search_field :luminosity_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :scale_length, "Scale Length".html_safe) %>  (kpc) <br>
            <%= f.search_field :scale_length_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :mass_hydrogen, "Hydrogen Mass".html_safe) %> (10<sup>10</sup> M<sub>☉</sub> kg) <br>
            <%= f.search_field :mass_hydrogen_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :mass_disk, "Disk Mass".html_safe) %> (10<sup>10</sup> M<sub>☉</sub> kg) <br>
            <%= f.search_field :mass_disk_eq, :class => "search-field" %>
          </th>
          <th>
            Velocities Citation
          </th>
          <th>
            Luminosity Citation
          </th>
          <th>
            Scale Length Citation
          </th>
          <th>
            Mass Hydrogen Citation
          </th>
          <th>
            Number of observed velocity points
          </th>
          <th colspan="3" width="250px;">
            <%= f.submit "Search" %>
            <%= f.submit "Clear", :id => :q_reset%>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @galaxies.each do |galaxy| %>
        <tr>
          <td><%= link_to "#{galaxy.id}", galaxy_path(galaxy) %></td>
          <td><%= galaxy.galaxy_name %></td>
          <td><%= galaxy.galaxy_type %></td>
          <td><%= galaxy.distance %></td>
          <td><%= galaxy.luminosity %></td>
          <td><%= galaxy.scale_length %></td>
          <td><%= galaxy.mass_hydrogen %></td>
          <td><%= galaxy.mass_disk %></td>
          <td>
            <% if galaxy.ref_citations[:vel_citation] == "NA" %>
              <%= galaxy.ref_citations[:vel_citation] %>
            <% else %>
              <%= link_to "#{galaxy.velocities_citation}", citation_path(galaxy.velocities_citation.to_i) %>
            <% end %>
          </td>
          <td>
            <% if galaxy.ref_citations[:lum_citation] == "NA" %>
              <%= galaxy.ref_citations[:lum_citation] %>
            <% else %>
              <%= link_to "#{galaxy.luminosity_citation}", citation_path(galaxy.luminosity_citation.to_i) %>
            <% end %>
          </td>
          <td>
            <% if galaxy.ref_citations[:scl_citation] == "NA" %>
              <%= galaxy.ref_citations[:scl_citation] %>
            <% else %>
              <%= link_to "#{galaxy.scale_length_citation}", citation_path(galaxy.scale_length_citation.to_i) %>
            <% end %>
          </td>
          <td>
            <% if galaxy.ref_citations[:hyd_citation] == "NA" %>
              <%= galaxy.ref_citations[:hyd_citation] %>
            <% else %>
              <%= link_to "#{galaxy.mass_hydrogen_citation}", citation_path(galaxy.mass_hydrogen_citation.to_i) %>
            <% end %>
          </td>
          <td><%= galaxy.velocities.size %></td>
          <td><%= link_to 'Show', galaxy, :method => :get %></td>
          <% if current_admin %>
            <td><%= link_to 'Edit', edit_galaxy_path(galaxy) %></td>
            <td><%= link_to 'Destroy', galaxy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
