<h1>Galaxies</h1>

<p id="notice"><%= notice %></p>

<br>

<% if current_admin %>
  <%= link_to 'New Galaxy', new_galaxy_path %>
<% end %>

<% if @galaxies.size > 0 %>
  <table>
    <thead>
      <tr>
        <%= search_form_for @q, url: search_galaxies_path,
                          html: { method: :post } do |f| %>
          <th>
            <%= sort_link(@q, :id, "ID") %>
            <%= f.search_field :id_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :galaxy, "Galaxy") %>
            <%= f.search_field :galaxy_cont, :class => "search-field" %>
          </th>
          <th>
            Number of Measurements
          </th>
          <th colspan="3">
            <%= f.submit "Search" %>
            <%= f.submit "Clear", :id => :q_reset%>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @galaxies.each do |galaxy| %>
        <tr>
          <td><%= link_to "#{galaxy.id}", galaxy_path(galaxy) %></td>
          <td><%= galaxy.galaxy %></td>
          <td><%= galaxy.measurements.size %></td>
          <td><%= link_to 'Show', galaxy %></td>
          <% if current_admin %>
            <td><%= link_to 'Edit', edit_galaxy_path(galaxy) %></td>
            <td><%= link_to 'Destroy', galaxy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
