<h1>Galaxy <%= @galaxy.id %> details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Galaxy Name:</strong>
  <%= @galaxy.galaxy_name %>
</p>
<p>
  <strong>Galaxy Type:</strong>
  <%= @galaxy.galaxy_type %>
</p>
<p>
  <strong>Distance (Mpc):</strong>
  <%= @galaxy.distance %>
</p>
<p>
  <strong>Luminosity (10<sup>10</sup> L<sub>☉</sub> W):</strong>
  <%= @galaxy.luminosity %>
</p>
<p>
  <strong>Scale Length (kpc):</strong>
  <%= @galaxy.scale_length %>
</p>
<p>
  <strong>Hydrogen Mass (10<sup>10</sup> M<sub>☉</sub> kg):</strong>
  <%= @galaxy.mass_hydrogen %>
</p>
<p>
  <strong>Disk Mass (10<sup>10</sup> M<sub>☉</sub> kg):</strong>
  <%= @galaxy.mass_disk %>
</p>
<p>
  <strong>Citations:</strong>
  <% @galaxy.citations.each do |citation| %>
    <%= citation.title %>, by: <%= citation.author %>
    <br>
  <% end %>
</p>

<br>
<% if current_admin %>
  <%= link_to 'Edit', edit_galaxy_path(@galaxy) %> |
  <%= link_to 'Destroy', galaxy_path(@galaxy), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <br>
<% end %>

<%= link_to "#{@galaxy.galaxy_name}'s Citations", :controller => 'galaxies', :action => 'index_galaxy_citations', :id => @galaxy.id %>

<% if @velocities.size > 0 %>
  <h2>Velocities for Galaxy <%= @galaxy.id %></h2>

  <% if current_admin %>
    <%= link_to 'New Velocity', new_galaxy_velocity_path(@galaxy) %>
  <% end %>

  <%= paginate @velocities %>
  <table>
    <thead>
      <tr>
        <%= search_form_for @q, url: search_galaxies_path(:id => @galaxy.id),
                          html: { method: :post } do |f| %>
          <th>
            <%= sort_link(@q, :id, "ID") %>
            <%= f.search_field :id_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :galaxy_id, "Galaxy ID") %>
            <%= f.search_field :galaxy_id_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :r, "R (kpc)") %>
            <%= f.search_field :r_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :vrot_data, "VROT DATA (km/s)") %>
            <%= f.search_field :vrot_data_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :vrot_data_error, "VROT DATA ERROR (km/s)") %>
            <%= f.search_field :vrot_data_error_eq, :class => "search-field" %>
          </th>
          <th colspan="3" width="250px;">
            <%= f.submit "Search" %>
            <%= f.submit "Clear", :id => :q_reset %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @velocities.each do |velocity| %>
        <tr>
          <td><%= link_to "#{velocity.id}", galaxy_velocity_path(@galaxy, velocity) %></td>
          <td><%= velocity.galaxy_id %></td>
          <td><%= velocity.r %></td>
          <td><%= velocity.vrot_data %></td>
          <td><%= velocity.vrot_data_error %></td>
          <td><%= link_to 'Show', galaxy_velocity_path(@galaxy, velocity) %></td>
          <% if current_admin %>
            <td><%= link_to 'Edit', edit_galaxy_velocity_path(@galaxy, velocity) %></td>
            <td><%= link_to 'Destroy', galaxy_velocity_path(@galaxy, velocity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <br>
  <% if current_admin %>
    <%= link_to 'New velocity', new_galaxy_velocity_path(@galaxy) %>
  <% end %>
<% end %>
 <br>

<%= link_to 'Back', galaxies_path %>
