<h1>Galaxy <%= @galaxy.id %> details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Galaxy Name:</strong>
  <%= @galaxy.galaxy_name %>
</p>
<p>
  <strong>Galaxy Type:</strong>
  <%= @galaxy.galaxy_type %>
</p>
<p>
  <strong>Distance:</strong>
  <%= @galaxy.distance %>
</p>
<p>
  <strong>Luminosity:</strong>
  <%= @galaxy.luminosity %>
</p>
<p>
  <strong>Scale Length:</strong>
  <%= @galaxy.scale_length %>
</p>
<p>
  <strong>Hydrogen Mass:</strong>
  <%= @galaxy.mass_hydrogen %>
</p>
<p>
  <strong>Disk Mass:</strong>
  <%= @galaxy.mass_disk %>
</p>
<p>
  <strong>Stars:</strong>
  <%= @galaxy.stars %>
</p>
<p>
  <strong>VCR:</strong>
  <%= @galaxy.vcr %>
</p>
<!-- TODO: Figure out galaxy column names -->

<br>

<% if current_admin %>
  <%= link_to 'Edit', edit_galaxy_path(@galaxy) %>
  <br>
  <br>
<% end %>

<% if @measurements.size > 0 %>
  <h2>Measurements for Galaxy <%= @galaxy.id %></h2>

  <% if current_admin %>
    <%= link_to 'New Measurement', new_galaxy_measurement_path(@galaxy) %>
  <% end %>

  <table>
    <thead>
      <tr>
        <%= search_form_for @q, url: search_galaxies_path(:id => @galaxy.id),
                          html: { method: :post } do |f| %>
          <th>
            <%= sort_link(@q, :id, "ID") %>
            <%= f.search_field :id_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :galaxy_id, "Galaxy ID") %>
            <%= f.search_field :galaxy_id_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :r, "R") %>
            <%= f.search_field :r_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :r_err_min, "R err min") %>
            <%= f.search_field :r_err_min_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :r_err_max, "R err max") %>
            <%= f.search_field :r_err_max_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :vrot_data, "Vrot data") %>
            <%= f.search_field :vrot_data_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :vrot_data_err_min, "Vrot data err min") %>
            <%= f.search_field :vrot_data_err_min_eq, :class => "search-field" %>
          </th>
          <th>
            <%= sort_link(@q, :vrot_data_err_max, "Vrot data err max") %>
            <%= f.search_field :vrot_data_err_max_eq, :class => "search-field" %>
          </th>
          <th colspan="3">
            <%= f.submit "Search" %>
            <%= f.submit "Clear", :id => :q_reset %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @measurements.each do |measurement| %>
        <tr>
          <td><%= link_to "#{measurement.id}", galaxy_measurement_path(@galaxy, measurement) %></td>
          <td><%= measurement.galaxy_id %></td>
          <td><%= measurement.r %></td>
          <td><%= measurement.r_err_min %></td>
          <td><%= measurement.r_err_max %></td>
          <td><%= measurement.vrot_data %></td>
          <td><%= measurement.vrot_data_err_min %></td>
          <td><%= measurement.vrot_data_err_max %></td>
          <td><%= link_to 'Show', galaxy_measurement_path(@galaxy, measurement) %></td>
          <% if current_admin %>
            <td><%= link_to 'Edit', edit_galaxy_measurement_path(@galaxy, measurement) %></td>
            <td><%= link_to 'Destroy', galaxy_measurement_path(@galaxy, measurement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <br>
  <% if current_admin %>
    <%= link_to 'New Measurement', new_galaxy_measurement_path(@galaxy) %>
  <% end %>
<% end %>
 <br>

<%= link_to 'Back', galaxies_path %>
