<h1>Edit measurement <%= @measurement.id %> for Galaxy <%= @galaxy.id %></h1>

<%= render 'form' %>

<%= link_to 'Show', galaxy_measurement_path(@galaxy, @measurement) %> |
<%= link_to 'Back', galaxy_path(@galaxy) %>
