<h1>Galaxy <%= @galaxy.id %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Galaxy:</strong>
  <%= @galaxy.galaxy %>
</p>
<!-- TODO: Figure out galaxy column names -->

<br>
<%= link_to 'Edit', edit_galaxy_path(@galaxy) %> |
<%= link_to 'Back', galaxies_path %>

<br>

<% if @measurements.size > 0 %>
  <%= search_form_for @q, url: search_galaxies_path(:id => @galaxy.id),
                          html: { method: :post } do |f| %>
    <%= f.label :id_eq %>
    <%= f.search_field :id_eq, :class => "search-field" %>
    <%= f.label :galaxy_id_eq %>
    <%= f.search_field :galaxy_id_eq, :class => "search-field" %>
    <%= f.label :r_eq %>
    <%= f.search_field :r_eq, :class => "search-field" %>
    <%= f.label :r_err_min_eq %>
    <%= f.search_field :r_err_min_eq, :class => "search-field" %>
    <%= f.label :r_err_max_eq %>
    <%= f.search_field :r_err_max_eq, :class => "search-field" %>
    <%= f.label :vrot_data_eq %>
    <%= f.search_field :vrot_data_eq, :class => "search-field" %>
    <%= f.label :vrot_data_err_min_eq %>
    <%= f.search_field :vrot_data_err_min_eq, :class => "search-field" %>
    <%= f.label :vrot_data_err_max_eq %>
    <%= f.search_field :vrot_data_err_max_eq, :class => "search-field" %>
    <%= f.submit "Search" %>
    <%= f.submit "Clear", :id => :q_reset%>
  <% end %>
  <h2>Measurements for Galaxy <%= @galaxy.id %></h2>

  <%= link_to 'New Measurement', new_galaxy_measurement_path(@galaxy) %>

  <table>
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "ID") %></th>
        <th><%= sort_link(@q, :galaxy_id, "Galaxy ID") %></th>
        <th><%= sort_link(@q, :r, "R") %></th>
        <th><%= sort_link(@q, :r_err_min, "R err min") %></th>
        <th><%= sort_link(@q, :r_err_max, "R err max") %></th>
        <th><%= sort_link(@q, :vrot_data, "Vrot data") %></th>
        <th><%= sort_link(@q, :vrot_data_err_min, "Vrot data err min") %></th>
        <th><%= sort_link(@q, :vrot_data_err_max, "Vrot data err max") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @measurements.each do |measurement| %>
        <tr>
          <td><%= link_to "#{measurement.id}", galaxy_measurement_path(@galaxy, measurement) %></td>
          <td><%= measurement.galaxy_id %></td>
          <td><%= measurement.r %></td>
          <td><%= measurement.r_err_min %></td>
          <td><%= measurement.r_err_max %></td>
          <td><%= measurement.vrot_data %></td>
          <td><%= measurement.vrot_data_err_min %></td>
          <td><%= measurement.vrot_data_err_max %></td>
          <td><%= link_to 'Show', galaxy_measurement_path(@galaxy, measurement) %></td>
          <td><%= link_to 'Edit', edit_galaxy_measurement_path(@galaxy, measurement) %></td>
          <td><%= link_to 'Destroy', galaxy_measurement_path(@galaxy, measurement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <br>
  <%= link_to 'New Measurement', new_galaxy_measurement_path(@galaxy) %>
<% end %>
