<!DOCTYPE html>
<html>
<head>
    <title>Socm</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
    <style>
      table,th,td{
        border:1px solid black;
        border-collapse:collapse;
      }
      th,td{
        padding:5px;
      }

       body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
          <div class="collapse nav-collapse bs-navbar-collapse" role="navigation">
            <a class="brand" href="/">SOCM</a>
            <ul class="nav navbar-nav">
              <li>
                <a href="/galaxies">Galaxies</a>
              </li>
              <% if current_admin %>
                <li>
                  <a href="/admins/sign_out" data-method="DELETE" rel="nofollow">Logout</a>
                </li>
              <% else %>
                <li>
                  <a href="/admins/sign_in" data-method="GET" rel="nofollow">Login</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
