<!DOCTYPE html>
<html>
<head>
    <title>Socm</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      table,th,td{
        border:1px solid black;
        border-collapse:collapse;
      }
      th,td{
        padding:5px;
      }

       body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'SOCM', "/", id: "logo", class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Galaxies', galaxies_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_admin %>
              <li><%= link_to 'Logout', destroy_admin_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Login', new_admin_session_path, :method => :get %></li>
            <% end %>
             <!-- TODO: merge admin code here -->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
