<!DOCTYPE html>
<html lang="en">
<head>
    <title>Socm</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      table,th,td{
        border:1px solid black;
        border-collapse:collapse;
      }
      th,td{
        padding:5px;
      }

       body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
  </head>

  <body id="app_body">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><%= link_to 'SOCM', "/", id: "logo", class: "navbar-brand" %></li>
          </ul>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'galaxies'%>" ><%= link_to 'Galaxies', galaxies_path %></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'citations'%>" ><%= link_to 'Citations', citations_path %></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'welcome' && params[:action] == 'developers' %>" ><%= link_to 'Developers', '/developers' %></li>
          </ul>
          <% if current_admin %>
            <ul class="nav navbar-nav">
              <% if @unapproved_admin_count > 0  %>
                <li>
                  <%= link_to "Admin Page (#{@unapproved_admin_count})", "/admin" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Admin Page", "/admin" %>
                </li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "Account", edit_admin_registration_path %>
              </li>
            </uL>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_admin %>
              <li class="<%= 'active' if params[:controller] == 'devise/sessions' %>" ><%= link_to 'Logout', destroy_admin_session_path, :method => :delete %></li>
            <% else %>
              <li class="<%= 'active' if params[:controller] == 'devise/sessions' %>"><%= link_to 'Login', new_admin_session_path, :method => :get %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
