<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SOCM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      table,th,td{
        border:1px solid black;
        border-collapse:collapse;
      }
      th,td{
        padding:5px;
      }

       body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
  </head>
  <body id="app_body">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><%= link_to 'SOCM', "/", id: "logo", class: "navbar-brand" %></li>
          </ul>
        </div>
        <div class="navbar-collapse collapse">
          <%= render "layouts/nav_links" %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
